In [1]:
import pandas as pd

# Read the Titanic dataset into a DataFrame
df = pd.read_csv('titanic.csv')

In [2]:
# 2. Find names of passengers younger than 35 years
young_passengers = df[df['Age'] < 35]['Name']
print("Names of passengers younger than 35 years:")
print(young_passengers)

Names of passengers younger than 35 years:
0                                  Kelly, Mr. James
3                                  Wirz, Mr. Albert
4      Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5                        Svensson, Mr. Johan Cervin
6                              Connolly, Miss. Kate
                           ...
403                          Carrau, Mr. Jose Pedro
405    Nourney, Mr. Alfred (Baron von Drachstedt")"
406                       Ware, Mr. William Jeffery
409                       Peacock, Miss. Treasteall
412                  Henriksson, Miss. Jenny Lovisa
Name: Name, Length: 222, dtype: object

In [3]:
# 3. Print rows from index 10 to 25 and columns 3 to 5
print("Rows 10 to 25 and columns 3 to 5:")
print(df.iloc[10:26, 3:6])

Rows 10 to 25 and columns 3 to 5:
                                                 Name     Sex   Age
10                                   Ilieff, Mr. Ylio    male   NaN
11                         Jones, Mr. Charles Cresson    male  46.0
12      Snyder, Mrs. John Pillsbury (Nelle Stevenson)  female  23.0
13                               Howard, Mr. Benjamin    male  63.0
14  Chaffee, Mrs. Herbert Fuller (Carrie Constance...  female  47.0
15      del Carlo, Mrs. Sebastiano (Argenia Genovesi)  female  24.0
16                                  Keane, Mr. Daniel    male  35.0
17                                  Assaf, Mr. Gerios    male  21.0
18                       Ilmakangas, Miss. Ida Livija  female  27.0
19              Assaf Khalil, Mrs. Mariana (Miriam")"  female  45.0
20                             Rothschild, Mr. Martin    male  55.0
21                          Olsen, Master. Artur Karl    male   9.0
22               Flegenheim, Mrs. Alfred (Antoinette)  female   NaN
23                    Williams, Mr. Richard Norris II    male  21.0
24    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  female  48.0
25                            Robins, Mr. Alexander A    male  50.0

In [4]:
# 4. Find statistics aggregate of Age & Fare using the DataFrame.agg() method
statistics = df[['Age', 'Fare']].agg(['min', 'max', 'mean', 'median'])
print("Statistics for Age and Fare:")
print(statistics)

Statistics for Age and Fare:
             Age        Fare
min      0.17000    0.000000
max     76.00000  512.329200
mean    30.27259   35.627188
median  27.00000   14.454200

In [5]:
# 5. Find mean ticket fare price for each sex and cabin class combination
mean_fare_by_sex_class = df.groupby(['Sex', 'Pclass'])['Fare'].mean()
print("Mean ticket fare price for each sex and cabin class combination:")
print(mean_fare_by_sex_class)

Mean ticket fare price for each sex and cabin class combination:
Sex     Pclass
female  1         115.591168
        2          26.438750
        3          13.735129
male    1          75.586551
        2          20.184654
        3          11.826350
Name: Fare, dtype: float64