In [1]:
import pandas as pd

# Read the CSV file
cars_df = pd.read_csv('cars.csv')

print(cars_df)

  Company Name Model Name Fuel Type Body Style  Car Length
0       Toyota    Corolla    Petrol      Sedan        4500
1        Honda      Civic    Petrol      Sedan        4700
2      Hyundai        i20    Petrol  Hatchback        3900
3         Ford   EcoSport    Petrol        SUV        4200

In [2]:


# Read the Excel file
car_pricing_df = pd.read_excel('car_pricing.xlsx')
print(car_pricing_df)

  Company Name Model Name  On road pricing  Loan amount  Monthly EMI  \
0       Toyota    Corolla          1200000       800000        20000
1        Honda      Civic          1300000       900000        22000
2      Hyundai        i20           800000       500000        18000
3         Ford   EcoSport          1100000       700000        25000

   Interest Rate  Monthly Principal Monthly Interest
0          0.100                NaN              Nan
1          0.090                NaN              Nan
2          0.085                NaN              Nan
3          0.115                NaN              Nan

In [3]:
#3. Write the code to read the csv file and the excel file and convert them into the Data frame.

# Read the CSV file
cars_df = pd.read_csv('cars.csv')

# Read the Excel file
car_pricing_df = pd.read_excel('car_pricing.xlsx')

In [4]:
merged_df = pd.merge(cars_df, car_pricing_df, on=['Company Name', 'Model Name'])
print(merged_df)

  Company Name Model Name Fuel Type Body Style  Car Length  On road pricing  \
0       Toyota    Corolla    Petrol      Sedan        4500          1200000
1        Honda      Civic    Petrol      Sedan        4700          1300000
2      Hyundai        i20    Petrol  Hatchback        3900           800000
3         Ford   EcoSport    Petrol        SUV        4200          1100000

   Loan amount  Monthly EMI  Interest Rate  Monthly Principal Monthly Interest
0       800000        20000          0.100                NaN              Nan
1       900000        22000          0.090                NaN              Nan
2       500000        18000          0.085                NaN              Nan
3       700000        25000          0.115                NaN              Nan

In [5]:
merged_df.fillna(value=0, inplace=True)

In [6]:
gst_rate = 0.18  # Assuming 18% GST rate

merged_df['On road pricing'] = merged_df['On road pricing'] + (gst_rate * merged_df['On road pricing'])

In [7]:
print(merged_df['On road pricing'])

0    1416000.0
1    1534000.0
2     944000.0
3    1298000.0
Name: On road pricing, dtype: float64